.frame {
  width: 100vw;
  height: 100vh;

  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: transparent;
  background-image: url("/public/misc/stars-alpha.png");
  overflow: hidden;
}

.visgalt {
  --color-space-1: #230601;
  --color-space-0: #52181e;
}

.xoletsa {
  --color-space-0: #0c504b;
  --color-space-1: #00181f;
}

.trexar {
  --color-space-0:#4d4921;
  --color-space-1:#141e04;
}

.vunhuma {
  --color-space-0: #0e5030;
  --color-space-1: #001f17;
}

.background {
  background: radial-gradient(
    at 50% 100%,
    var(--color-space-0) 0%,
    var(--color-space-0) 20%,
    var(--color-space-1) 85%
  );
}

.card {
  max-width: 450px;
  margin: auto;
  margin: 24px;
  transition-duration: 200ms;
}

.card:hover {
  /* transform: translateY(-4px); */
  max-width: 100%;
  transition-duration: 400ms;
  margin: 0px;
}

.card:hover .preview > .image {
  --offset: 0px;
  transition-duration: 400ms;
}

.card:hover .preview > *:first-child {
  opacity: 0%;
  transition-duration: 100ms;
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.preview > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 100%;
}

.preview > i {
  position: absolute;
  bottom: 2.5%;
  font-size: 1rem;
  z-index: 3;
  color: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 500px){
  .preview > i {
    font-size: 3.2vw;
  }
}

.preview > img {
  width: 100%;
  height: 100%;
}

.preview > .image {
  --offset: 20%;
  width: calc(100% - var(--offset));
  height: calc(100% - var(--offset));
}
