body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-space-0: #134152;
  --color-space-1: #011323;
}

tr img {
  max-width: 48px;
  border-radius: 4px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

tr:hover .selectable{
  background-color: grey;
  border-radius: 4px;
  cursor: pointer;
}

td {
  padding-inline: 8px;
}
